<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <H1>Thanks for posting</H1>
    <p>Data has been saved.</p>
    <br />
    <p>ID:<%=newStudent.id%></p>
    <p>Name:<%=newStudent.name%></p>
    <p>Age:<%=newStudent.age%></p>
    <p>Merit Scholarship:<%=newStudent.scholarship.merit%></p>
    <p>Other Scholarship:<%=newStudent.scholarship.other%></p>
    <br />
    <a href="/students">Back to student list</a>
  </body>
</html>
